.Layout--Box2 {
  width: 70%;
  margin: auto;
  h1 {
    font-size: 50px;
    margin: 50px auto;
  }
  .Box2 {
    h1 {
      font-size: 40px;
      margin: 30px auto;
    }
    p {
      text-align: justify;
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 768px) {
  .Layout--Box2 {
    width: 60%;
    margin: auto;
    h1 {
      font-size: 30px;
      margin: 50px auto;
    }
    .Box2 {
      h1 {
        font-size: 20px;
        margin: 30px auto;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
